/* ADMIN */

.navigation {
    background-color: #304F9E;
    transition: 0.5s;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 240px;
    min-width: 240px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation .nav-item:nth-child(1):hover .nav-item-link::before {
    content: '';
    color: #304F9E;
    position: absolute;
    right: -10px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 40px 40px 0 15px;
    pointer-events: none;
}

.navigation .nav-item:nth-child(1):hover .nav-item-link::after {
    content: '';
    position: absolute;
    color: #304F9E;
    right: -10px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 40px -40px 0 15px;
    pointer-events: none;
}


.navigation .nav-item:nth-child(1):hover .nav-item-link {
    color: white;
}

.navigation .nav-item:nth-child(1):hover {
    background-color: none;

}

.navigation .nav-item:nth-child(1):hover .nav-item-link .nav-icon {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1rem;
    margin: 0;
    z-index: 1;
    color: #fff !important;

}

.navigation .nav-item:hover {
    background-color: #e6e6e6;
}

.navigation .nav-item .nav-item-link {
    text-decoration: none;
    color: #fff;
    min-height: 40px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation .nav-item:hover .nav-item-link {
    color: #000;
}

.navigation .nav-item:hover .nav-item-link .nav-icon {
    position: relative;
    display: block;
    min-height: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 8px;
    z-index: 1;

}

.navigation .nav-item:hover .nav-item-link::after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 40px -40px 0 15px #e6e6e6;
    pointer-events: none;
}

.navigation .nav-item:hover .nav-item-link::before {
    content: '';
    position: absolute;
    right: -10px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 40px 40px 0 15px #e6e6e6;
    pointer-events: none;
}

.navigation .nav-item:nth-child(1) {
    margin-bottom: 34px;
    background-color: #304F9E !important;
}

.navigation .nav-item {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    min-height: 40px;
    margin: 12px 0px;
}

.navigation .nav-item .navigation .nav-title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: normal;
    font-size: 1.4rem;
}

.navigation .nav-list {
    width: 100%;
    height: 100vh;
    padding-left: 20px;
}


.navigation.active {
    display: block;
    /* flex: 0 0 8.33333%; */
    /* max-width: 8.33333%; */
    width: 60px;
    min-width: 60px;

}

.navigation.active .nav-item .nav-title {
    display: none;
}

/*  CSS MAIN */

.content {
    min-height: 100vh;
    flex-grow: 1;
    transition: 0.5s;
    padding: 0px 10px 0px 10px;
}

.content.active {
    display: block;
    /* flex: 0 0 91.66667%; */
    width: 91.66667%;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    cursor: pointer;
    color: #304F9E;
}

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search-label {
    position: relative;
    width: 100%;
}

.search-input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    border: 1px solid var(--black2-color);
    padding-left: 35px;
    font-size: 1.4rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.4rem;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.navigation .nav-item:hover .nav-icon {
    color: #304F9E !important;
}