.slideshow {
    position: relative;
    width: 1270px;
    height: 60vh;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
    height: 350px;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 50%;
}

.slide-btn.left {
    left: 10px;
}

.slide-btn.right {
    right: 10px;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.dot.active {
    opacity: 1;
    background: white;
}